.container {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 20px 0;
}

.header > a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(229, 9, 20);
  text-decoration: none;
}
